@import "../../variables.scss";

.TrackTable {
    table {
        width: 100%;
        position: relative;
        border-collapse: collapse;
        border: solid 1px $-c-neutral;

        margin: 2em 0;

        tr {
            border-bottom: solid 1px $-c-neutral;

            th,
            td {
                padding: 1em;
                text-align: left;

                &.checkbox {
                    text-align: center;
                    cursor: pointer;
                }
            }
        }

        thead {
            color: $-c-header-text;
            background: $-c-accent-highlight;
        }

        tbody {
            tr {
                cursor: pointer;

                transition: all 500ms ease;

                &:hover {
                    color: $-c-header-text;
                    background: $-c-neutral;
                    border-radius: 4px;

                    @include shadow;
                }

                &.checked {
                    color: $-c-header-text;
                    font-weight: bold;
                    background: $-c-neutral;
                }
            }
        }
    }
}
