@import "../../variables.scss";

.TrackTable {
    table {
        width: 100%;
        position: relative;
        border-collapse: collapse;
        border: solid 1px rgba(199, 203, 207, 0.4);

        margin: 2em 0;

        tr {
            border-bottom: solid 1px rgba(199, 203, 207, 0.4);

            th,
            td {
                padding: 1em;
                text-align: left;

                &.checkbox {
                    text-align: center;
                    cursor: pointer;
                }

                // &.checkbox input[type=checkbox] {
                //     opacity: 0;
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                // }
            }
        }

        thead {
            color: white;
            background-color: rgb(187, 187, 196);
            text-transform: uppercase;
        }

        tbody {
            tr {
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    background-color: rgba(187, 187, 196, 0.1);
                    box-shadow: 8px 8px 6px rgb(120, 120, 124);
                    border-radius: 4px;
                }

                &.checked {
                    font-weight: bold;
                    background-color: rgba(187, 187, 196, 0.1);
                }
            }
        }
    }
}
