@import "../../variables.scss";

$progress-bar-border-radius: 25px;

.ProgressBar {
    background: $-c-neutral;
    border-radius: $progress-bar-border-radius;
    margin-bottom: 1em;

    &__progress {
        transition: width 1s;
        border-radius: $progress-bar-border-radius;
        background-color: $-c-accent-highlight;
        padding: 1em 1.8em;
        text-align: right;

        animation: slideIn_leftToRight 3s ease;
    }

    &__value {
        color: $-c-button-text;
        font-size: 0.8rem;
        font-weight: bold;
    }

    &__text {
        font-size: 0.8rem;
        text-align: center;
    }
}

@keyframes slideIn_leftToRight {
    from {
        max-width: 0;
    }

    to {
        max-width: 1000px;
    }
}
