@import "../../variables.scss";

.TrackTable {
    table {
        width: 100%;
        position: relative;
        border-collapse: collapse;
        border: solid 1px $-c-neutral;

        tr {
            border-bottom: solid 1px $-c-neutral;

            th,
            td {
                padding: 1em;
                text-align: left;

                &.checkbox {
                    text-align: center;
                    cursor: pointer;
                }
            }
        }

        thead {
            color: $-c-header-text;
            background: $-c-accent-highlight;
        }

        tbody {
            tr {
                cursor: pointer;

                transition: all 500ms ease;

                &:hover {
                    color: $-c-header-text;
                    background: $-c-neutral;
                    border-radius: 4px;

                    @include shadow;
                }

                &.checked {
                    color: $-c-header-text;
                    font-weight: bold;
                    background: $-c-neutral;
                }
            }
        }
    }
}

.table {
    font-size: 0.8em;

    &__header {
        color: rgb(156, 156, 156);
        font-weight: bold;
        background: #ebebeb;
    }

    &__options,
    &__header {
        padding: 1em;
    }

    &__options {
        display: flex;
        align-items: center;

        &-items {
            opacity: 0;
            pointer-events: none;
            margin-left: 2em;

            transition: opacity 250ms ease-in;

            &--show {
                opacity: 1;
                pointer-events: auto;

                .icon {
                    cursor: pointer;
                }
            }
        }
    }

    &__header,
    &__row {
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 4fr 2fr 2fr;
        border-radius: 4px;
    }

    &__row {
        &:nth-child(even) {
            background: #f7f7f7;
        }

        label {
            cursor: pointer;
            display: block;
            padding: 1em;
        }
    }

    &__buttons {
        justify-self: flex-end;
        margin-right: 1em;
    }

    &__checkbox:checked:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 6px;
        height: 100%;
        background: $-c-neutral;

        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}
