.trackheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;

    &__title {
        margin: 1em 0;
    }

    &__buttons {
        display: flex;
    }
}

.TrackChart,
.ProgressBar {
    margin-bottom: 3em;
}
