@import "../../variables.scss";

.Button {
    padding: 1rem;
    border: none;
    color: $-c-button-text;
    background: $-c-accent;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;

    transition: background 200ms ease-in-out;

    &:hover,
    &:focus {
        outline: none;
        background: $-c-accent-highlight;
    }

    &:disabled {
        cursor: not-allowed;
        background: $-c-button-background-inactive;
    }

    &__circle {
        margin: 0 1em 0 0;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }

    &__floatingaction {
        position: fixed;
        bottom: 3em;
        right: 1em;
        height: 4rem;
        width: 4rem;

        background: $-c-actionbtn-background;
        stroke: $-c-button-text;

        transition: all 300ms ease-in-out;

        &:hover,
        &:focus {
            stroke: $-c-button-text-highlight;
            background: $-c-actionbtn-background-highlight;
        }
    }
}

.filter-buttons {
    .Button {
        margin: 0;
        border-radius: 0;

        background-color: $-c-button-background-inactive;
        transition: background-color 300ms;

        &.active {
            font-weight: bold;
            background-color: $-c-accent;
        }

        &:hover,
        &:focus {
            background-color: lighten($-c-accent, 5);
        }

        &:first-child {
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
        }

        &:last-child {
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
        }
    }
}
