@import "../../variables.scss";

.Button {
    padding: 1rem;
    margin: 4px;
    border: none;
    color: $secondary-font-color;
    background-color: $primary-color;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;

    .content {
        display: flex;
        justify-content: center;
        align-content: center;

        .svg-icon {
            margin-left: 1rem;
            width: 1em;
            height: 1em;

            path,
            polygon,
            rect {
                fill: white;
            }

            circle {
                stroke: white;
                stroke-width: 1;
            }
        }
    }

    &:hover,
    &:focus {
        outline: none;
        background-color: lighten($primary-color, 10);
    }

    &.Button__circle {
        margin: 0 1em 0 0;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
}

.FilterButtons {
    .Button {
        margin: 0;
        border-radius: 0;

        background-color: grayscale($primary-color);
        transition: background-color 0.3s;

        &.active {
            background-color: $primary-color;
        }

        &:hover,
        &:focus {
            background-color: lighten($primary-color, 10);
        }

        &:first-child {
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
        }

        &:last-child {
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
        }
    }
}
