@import "../../variables.scss";

.GenderElement {
    font-size: 5rem;
    background-color: white;
    border: solid 2px white;
    border-radius: 8px;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;

    transition: all 0.6s ease-in-out;

    &.focused {
        border-color: black;
    }

    .selector {
        position: relative;
        width: 50%;
        margin: 1rem;
        padding: 0.8rem;
        background-color: $primary-color-light;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;

        transition: all 0.8s ease-in-out;

        .emoji {
            display: block;
            transition: transform 0.8s ease-out;
        }

        input[type="radio"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .text {
            font-size: 1.5rem;
            padding: 1rem;
        }

        &.selected {
            background-color: darken($primary-color-light, 25);

            .emoji {
                transform: rotate(360deg);
            }
        }

        &:hover,
        &:focus {
            border-color: black;
            background-color: darken($primary-color-light, 10);
        }
    }

    .maleSelector {
        margin-right: 0.5rem;
    }

    .femaleSelector {
        margin-left: 0.5rem;
    }
}
