@import "../../variables.scss";

.GenderElement {
    font-size: 5rem;
    background-color: white;
    border-bottom: solid 2px transparent;
    border-radius: 4px;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;

    transition: all 500ms ease-in;

    &:focus-within {
        border-bottom: solid 2px $-c-accent;
    }

    .selector {
        position: relative;
        width: 50%;
        margin: 0.75rem;
        padding: 0.8rem;
        background-color: $-c-neutral;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;

        transition: all 0.8s ease;

        .emoji {
            display: block;
            transition: transform 900ms ease-out;
        }

        input[type="radio"] {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            opacity: 0;
            outline: none;
        }

        .text {
            color: $-c-button-text;
            font-size: 1.2rem;
            padding: 1rem 1rem 0.4rem 1rem;
            color: black;

            transition: color 900ms ease-in;
        }

        &.selected {
            background-color: $-c-accent;

            .emoji {
                transform: rotate(360deg);
            }

            .text {
                color: white;
            }
        }

        &:hover {
            background: $-c-accent-highlight;
        }
    }

    .selector + .selector {
        margin-left: 0;
    }
}
