.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
        display: none;
    }
}

@media (min-width: 600px) {
    .profile-header {
        &__button {
            display: block;
        }

        .button__floatingaction {
            bottom: -100vh;
        }
    }
}
