@import "../../variables.scss";

.header {
    position: relative;
    z-index: 1;
    background: $-c-header-background;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        a {
            text-decoration: none;

            h1 {
                padding: 0;
                color: $-c-header-text;
                font-size: 2rem;
                transition: color 500ms ease;

                &:hover,
                &:focus {
                    color: $-c-accent;
                }
            }
        }
    }
}
