@import "../../variables.scss";

.Header {
    display: flex;
    justify-content: space-between;

    padding: 1em;
    background: $-c-header-background;

    .logo {
        a {
            text-decoration: none;
        }

        h1 {
            color: $-c-header-text;
            font-size: 2rem;
            transition: color 500ms ease;

            &:hover,
            &:focus {
                color: $-c-accent;
            }
        }
    }
}
