@import "../../variables.scss";

.navigation {
    // &__container {
    //     z-index: 100;
    //     display: none;
    // }
    &__link {
        display: none;

        color: $-c-header-text;
        padding: 0.75em 0.75em;
        border-radius: 100px;

        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        & + .navigation__link--button {
            margin-left: 1.5em;
        }
    }

    &__link--button {
        padding: 1em 1.5em;
        text-decoration: none;
        color: $-c-button-text;
        background: $-c-accent;

        transition: background 500ms ease;

        &:hover,
        &:focus {
            text-decoration: none;
            background: $-c-accent-highlight;
        }
    }

    &__burger {
        display: initial;
    }
}

.navigation__links--persist {
    .navigation__link {
        display: inline-block;
    }
}

.side-navigation {
    position: fixed;
    top: 6em;
    right: 1.5em;
    // z-index: 10;

    min-width: 300px;
    border-radius: 12px;
    transition: all 500ms cubic-bezier(0.5, 0.91, 0.79, 1.1);

    &--hidden {
        right: -1000px;
    }

    .navigation__container {
        padding: 1rem;

        &.side-navigation__heading {
            padding-bottom: 0;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 2rem;
        margin-bottom: 0.75em;

        .emoji {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding-right: 1rem;

            transform-origin: bottom center;

            &:hover {
                animation: wave 600ms ease-in-out alternate infinite;
            }
        }
    }

    .navigation__links {
        .navigation__link {
            display: block;
            border-radius: 0;
            font-size: 1.5rem;

            &--button {
                margin: 0;
                background: unset;
            }

            &:last-of-type {
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
            }

            &:hover {
                background: rgba(0, 90, 0, 0.7);
                text-decoration: none;
            }
        }
    }

    background: $-c-accent-highlight;
    color: white;
}

@media (min-width: 600px) {
    .navigation {
        &__link {
            display: inline-block;
        }

        &__burger {
            display: none;
        }
    }

    .side-navigation {
        right: -1000px;
    }
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(60deg);
    }
}
