@import "../../variables.scss";

.Navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .Navigation__link {
        color: white;
        padding: 0.75em 0.75em;
        border-radius: 100px;

        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        & + .Navigation__link--button {
            margin-left: 1.5em;
        }
    }

    .Navigation__link--button {
        padding: 1em 1.5em;
        text-decoration: none;
        background-color: $primary-color;
        transition: background-color 500ms ease;

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: lighten($primary-color, 15);
        }
    }
}
