@import "../../variables.scss";

.Navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .Navigation__link {
        color: $-c-header-text;
        padding: 0.75em 0.75em;
        border-radius: 100px;

        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        & + .Navigation__link--button {
            margin-left: 1.5em;
        }
    }

    .Navigation__link--button {
        padding: 1em 1.5em;
        text-decoration: none;
        color: $-c-button-text;
        background: $-c-accent;

        transition: background 500ms ease;

        &:hover,
        &:focus {
            text-decoration: none;
            background: $-c-accent-highlight;
        }
    }
}
