@import '../variables.scss';

.LoginForm, .RegistrationForm {
    .heading {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    .alert {
        margin-bottom: 1rem;
        padding: 1rem;
        font-size: .9rem;
        border-radius: 4px;

        animation: fadeIn ease 1s;

        p {
            line-height: 1.6rem;
        }
    }

    .notification {
        background-color: $primary-color-light;
    }

    .error {
        background-color: salmon;
    }

    .inputContainer {
        input {
            width: 100%;
            border: solid 2px white;
            border-radius: 8px;
            padding: 1rem;
            font-size: 1.2rem;
            margin-bottom: 1rem;

            transition: all .6s ease-in-out;

            &.invalid {
                border-color: salmon;
            }

            &:focus {
                outline: none;
                border-color: black;
            }
        }
    }

    .Button {
        margin-right: 1rem;

        &:disabled {
            background-color: grayscale($primary-color)
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}