@import '../variables.scss';

.GenderElement {
    background-color: white;
    border-radius: 4px;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;

    font-size: 5rem;

    .selector {
        position: relative;
        width: 50%;
        margin: 1rem;
        padding: .8rem;
        background-color: $primary-color-light;
        border: solid 1px transparent;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;

        .emoji {
            display: block;
            transition: all .8s;
        }

        input[type=radio] {
            position: absolute;
            top: 0; left: 0;
            opacity: 0;
        }

        .text {
            font-size: 1.5rem;
            padding: 1rem;
        }

        &:hover, &:focus {
            border-color: black;
            background-color: darken($primary-color-light, 10)
        }
    }

    .selected {
        border: solid 1px black;

        .emoji {
            transform: rotate(360deg)
        }
    }

    .maleSelector {
        margin-right: .5rem;
    }
    
    .femaleSelector {
        margin-left: .5rem;
    }
}