.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    transform: translateY(-100vh);

    z-index: 1;
}

.Popup {
    padding: 1.5em 1.5em 0 1.5em;
    background: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 12px 12px 16px rgb(146, 151, 156);

    transition: all 0.3s ease-in;

    &__heading {
        font-size: 2rem;
        margin-bottom: 0.75em;
    }

    &__close-button {
        cursor: pointer;
        background: none;
        padding: 1em;
        border: none;
        width: 100%;
        outline: none;

        &--icon {
            width: 30px;
            fill: rgb(146, 151, 156);
        }

        &:hover,
        &:focus {
            transform: translateY(-0.15em);
        }
    }
}

.show {
    transform: translateY(0%);
    animation: 1s slidein;
}

.hide {
    transform: translateY(-100vh);
    animation: slideout 1s;
}

@keyframes slidein {
    from {
        transform: translateY(-100vh);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideout {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100vh);
    }
}
