@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap");
@import "./variables.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: $-c-background;
    color: $-c-text;
}

a {
    color: $-c-text;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1,
h2,
h3 {
    font-family: "Pacifico", cursive;
}

h1 {
    font-size: 2rem;
    padding: 1em 0;
}

h3 {
    color: green;
}

p {
    line-height: 2;
    padding-bottom: 1em;
}

h1 + p,
h2 + p,
h3 + p {
    padding-top: 1em;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;

    &__max {
        padding: 0;
    }
}

.primary {
    @include neumorphism;

    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    background: rgb(248, 248, 255);
}

.error {
    color: $-c-error-text;
    background: $-c-error-background;
    padding: 1em;
    margin: 1em 0;
    border: solid 1px $-c-error;
    border-radius: 8px;

    animation: fadeIn 500ms ease-in;
}

.icon {
    fill: lightgrey;
    stroke: grey;
    cursor: pointer;

    &:hover {
        stroke: black;
    }
}

.iconbtn {
    border: 0;
    background: none;
    cursor: pointer;
    transition: all 250ms ease-in;

    &__content {
        display: flex;
        align-items: center;

        font-size: 0.8rem;
        text-decoration: underline;
        color: gray;
    }

    & + .iconbtn {
        margin-left: 1em;
    }

    &:hover {
        transform: scale(1.1);

        .iconbtn__content {
            color: black;

            .icon {
                stroke: black;
            }
        }
    }
}

.card-container {
    margin-top: 1em;

    .c-card {
        @include neumorphism;

        padding: 1.5em;
        text-align: center;
        margin-bottom: 1em;
        border-radius: 1em;

        &__header {
            font-size: 1.25rem;
            font-family: "Pacifico", cursive;
            margin-bottom: 1.5em;
        }
    }
}

@media (min-width: 600px) {
    .primary {
        margin-top: 2em;
        margin-bottom: 0;
        border-radius: 0.5em;
    }

    .card-container {
        display: flex;
        justify-content: space-between;

        .c-card {
            width: 33%;
            & + .c-card {
                margin-left: 2em;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
