@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
@import "./variables.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #f0f0f3;
    color: $primary-font-color;
}

main {
    padding: 2em 1em;

    h1 {
        padding-bottom: 0.5em;
    }

    a {
        color: $primary-font-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .error {
        color: white;
        background: rgba(255, 68, 0, 0.521);
        padding: 1em;
        margin: 1em 0;
        border: solid 1px orangered;
        border-radius: 8px;

        animation: fadeIn 500ms ease-in;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
