@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import './variables.scss';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    color: $primary-font-color;
}

a {
    color: $primary-font-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    padding: 1em;
}