@import "../../_global.scss";

.form {
    &__heading {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    .button + a {
        margin-left: 1em;
    }

    max-width: 800px;
}

.InputContainer {
    $pad: 1rem;

    display: block;
    margin-bottom: 1rem;
    background: white;
    border-radius: 4px;
    font-size: 0.85rem;
    border-bottom: solid 2px transparent;
    transition: all 500ms;

    @include neumorphism;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: $pad $pad 0 $pad;
        border-left: solid 2px transparent;

        label {
            display: block;
            width: 100%;
            color: rgba(0, 0, 0, 0.6);
            cursor: text;
        }

        .svg-icon {
            cursor: pointer;
            width: 1.25rem;
            height: 1.25rem;

            &__error {
                path,
                line,
                circle {
                    fill: $-c-error;
                }

                transition: all 500ms;
                opacity: 0;

                &--show {
                    opacity: 1;
                    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 500ms both;
                }
            }

            &__info {
                path,
                line,
                circle {
                    fill: none;
                    stroke: rgb(73, 185, 202);
                }
            }
        }
    }

    &__error,
    &__info {
        padding: $pad;
        margin-bottom: 1em;
        color: white;
        background: $-c-error-background;
        border-left: 2px solid $-c-error-text;

        display: none;

        &--show {
            display: block;
            animation: slideOut 1s ease;
        }

        p {
            color: $-c-error-text;
            padding: 0;
        }
    }

    &__info {
        background: rgb(73, 185, 202);
        border-color: rgb(0, 53, 199);

        p {
            color: rgb(234, 254, 255);
        }
    }

    input,
    select {
        width: 100%;
        font-size: 1.25rem;
        padding: 0 $pad $pad $pad;
        border: none;
        border-radius: 4px;
        outline: none;
        background: transparent;
    }

    select {
        padding-top: $pad / 2;
    }

    &:focus-within {
        border-color: $-c-accent;

        label {
            color: $-c-accent;
        }
    }

    &.invalid {
        border-color: $-c-error;
    }
}

@media (min-width: 600px) {
    .form {
        &.f-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .f-container__span-full {
                width: 100%;
            }

            .f-container__span-half {
                width: 48%;
            }
        }
    }
}

@keyframes slideOut {
    from {
        opacity: 0;
        max-height: 0;
    }

    to {
        opacity: 1;
        max-height: 1000px;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
